.avatar {
	display: block;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.avatarContainer {
	position: relative;
	aspect-ratio: 1;
	width: 5rem;
	border-radius: 50%;
	opacity: 0.8;
}

.svg {
	display: none;
}

.back {
	z-index: -1;
	position: absolute;
	width: calc(100%);
	height: calc(100%);
	inset: -3px;
	border-radius: 50%;
}

@media (max-width: 768px) {
	.avatarContainer {
		width: 4rem;
	}
}
