.slider {
	display: flex;
	align-items: center;
	width: 100%;
	height: 2.5rem;
	gap: 0.25rem;
	border-radius: 0.5rem;
	background-color: var(--color-bg-darker);
}

.value {
	box-sizing: border-box;
	display: block;
	flex-shrink: 0;
	min-width: 3rem;
	margin: 0 0.5rem;
	padding: 0 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--color-bg2);
	color: var(--color-text);
	text-align: center;
}

.input {
	-webkit-appearance: none;
	box-sizing: border-box;
	appearance: none;
	flex: 1;
	height: 100%;
	background: transparent;
	cursor: pointer;
}

.input:focus {
	outline: none;
}

.input::-webkit-slider-runnable-track {
	height: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--color-bg-darker);
}

.input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1rem;
	height: 2.5rem;
	margin-top: -1rem; /* Centers thumb on the track */
	border-radius: 0.25rem;
	background-color: var(--color-highlight);
}

.input:focus::-webkit-slider-thumb {
	border: 1px solid var(--color-highlight);
	outline: 1px solid var(--color-highlight);
	outline-offset: 0.125rem;
}

.input::-moz-range-track {
	height: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--color-bg-darker);
}

.input::-moz-range-thumb {
	width: 1rem;
	height: 2.5rem;
	border: none;
	border-radius: 0;
	background-color: var(--color-highlight);
}

.input:focus::-moz-range-thumb {
	border: 1px solid var(--color-highlight);
	outline: 3px solid var(--color-highlight);
	outline-offset: 0.125rem;
}
