.typer {
	overflow: hidden;
	color: var(--color-text);
	font-weight: initial;
	font-size: 1rem;
	font-family: var(--font-message);
	word-break: break-word;
}

.typer p {
	word-wrap: break-word;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	color: var(--color-text);
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

.typer em {
	color: var(--color-emph);
}

.typer pre {
	padding: 0.75rem 1rem;
	overflow-x: auto;
	border-radius: 0.5rem;
	background-color: var(--color-bg);
	font-size: 0.9rem;
}

.command {
	color: var(--color-emph);
}

.quote {
	color: var(--color-quote);
}
