.container {
	display: flex;
	padding: 0.5rem;
	gap: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--color-bg-darker);
}

.top {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.date {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 0.25rem;
	gap: 0.25rem;
	color: var(--color-text-faint);
	font-size: 0.9rem;
	white-space: pre-line;
}

.avatar {
	width: 2.3rem;
	height: 2.3rem;
}

.left {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 0.5rem;
	text-align: left;
}

.trash {
	flex-shrink: 0;
	align-self: flex-start;
	height: 3.5rem;
	margin-left: auto;
	background-color: #923737;
	color: white;
}

.typer {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
